<head>
  <title>Hello world</title>
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />
</head>

<h1>Hello world</h1>

This is some text in the default font.

<p style="font-family:lm-mono">
  This is some text in the
  <a href="http://mirrors.ctan.org/fonts/lm/fonts/opentype/public/lm/lmmono10-regular.otf">
    Latin Modern Mono Regular</a> font.
</p>
